@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h1 class="display-1">Oops!</h1>
    <p class="h4">Something went wrong</p>
    <p class="lead">We're sorry, but there was an error processing your request.</p>
    
    <div class="mt-4">
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary">
            <i class="fas fa-home me-2"></i>Back to Events
        </a>
    </div>
</div>
